:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  /* Flex Wrap */
  --indent: 30px;
  --items: 3;
  --gap: 24;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.body {
  width: 1440px;
  height: 2592px;
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* reset start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
/* rubber images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset end */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* Temporary outline */
  /* outline: 2px solid red;
  outline-offset: -2px;
*/
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Universal layout for flex-wrap items */
.card-set {
  display: flex;
  flex-wrap: wrap;
}

.card-set.item {
  flex-basis: calc(100% - var(--gap) * (var(--items - 1)) / var(--items));
}
/* ============================================= */
.address {
  display: flex;
  font-style: normal;
}
.header-nav {
  display: flex;
  align-items: center;
  /* Added after homework control system */
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  display: block;
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--iris);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: left;
}

.header-studio {
  color: var(--navy-blue);
}

.site-navigation {
  color: var(--navy-blue);
  font-weight: 500;
}

.site-navigation:hover,
.site-navigation:focus {
  color: var(--ocean);
}

/* Email & Phone */
.contact-list {
  display: inline-flex;
  gap: 40px;
}
.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--slate);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

.filter-button {
  color: var(--iris);
  background-color: var(--cloud);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  color: var(--white);
  background-color: var(--ocean);
}

.additional-description {
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer {
  background-color: var(--navy-blue);
  /* Added after homework control system */
  padding: 100px 0;
}
.footer-studio {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
  width: 264px;
  padding-top: 17.5px;
  padding-bottom: 100px;
}
.footer-logo {
  display: block;
  padding-top: 101.5px;
  /* Added after homework control system */
  display: inline-block;
  margin-bottom: 16px;
}
.order-button {
  color: var(--white);
  background-color: var(--iris);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  /* Added after homework control system */
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  cursor: pointer;
  color: var(--white);
  background-color: var(--ocean);
}

.container.hero {
  height: 600px;
  /* margin-bottom: 188px; */
}
.hero-section {
  background-color: var(--grey);
}

.hero-caption {
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  width: 496px;
  padding-top: 188px;
  padding-bottom: 48px;
  margin: 0 auto;
  /* Added after homework control system */
  max-width: 496px;
}
.section-whatwedo {
  /* Added after homework control system */
  padding-bottom: 120px;
}

.section-whatwedo-title {
  text-transform: capitalize;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  /* Added after homework control system */
  margin-bottom: 72px;
}
.section-team {
  background-color: var(--cloud);
  /* Added after homework control system */
  padding: 120px 0;
}
.section-team-title {
  text-transform: capitalize;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--grey);
  /* Added after homework control system */
  margin-bottom: 72px;
}
.personal-card {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-whatwedo-title {
  margin: 0 auto;
}

.section-team-title {
  margin: 0 auto;
}

.features {
  /* Added after homework control system */
  padding: 120px 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  gap: 24px;
}

.features-list-item {
  flex-basis: 264px;
}

.card-title {
  color: var(--navy-blue);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.card-title.leftalign {
  text-align: left;
}

.application-type {
  text-align: center;
}

.working-title {
  display: block;
  text-align: center;
}

.site-navigation {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.whatwedo-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 120px;
}

.section-whatwedo-title {
  margin-bottom: 72px;
}
.section-team-title {
  padding-top: 120px;
  padding-bottom: 72px;
}

.ourteam-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.buttons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 96px auto 72px auto;
}

.filter-button {
  display: block;
  padding: 12px 24px;
  border: 1px;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}
.comments {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 16px;
}

.image-list-item {
  box-sizing: border-box;
  /* border: 1px solid var(--cornflower); */
}

.section-team {
  padding-bottom: 120px;
}

.staff {
  /* Added after homework control system */
  padding: 32px 0;
}
.section-main {
  padding-bottom: 120px;
}
